{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaFeatures": true,
    "ecmaVersion": "latest",
    "extraFileExtensions": [".vue"]
  },
  "rules": {
    "no-unused-vars": "warn",
    "semi": ["warn", "always"],
    "quotes": ["warn", "single"]
  }
}
